/* Main */
body {
	font-size: 14px;
	background-color: #f3f6f9;
}
a {
    color: #666;
	font-weight: 500;
}
.small, small {
    font-size: 95%;
}
.h6.uppercase, h6.uppercase {
    font-weight: 600;
	font-size: 11.5px;
}

/* Navigation Bar */
.navbar-default {
    background: linear-gradient(to right, #691551, #af3d8f);
    border: none;
}
.navbar-default .navbar-nav>li>a{
	color:#fff;
}
.navbar-default .navbar-nav>li>a:hover{
	color:#ddd;
}
.navbar-default .navbar-brand:hover {
	color:#ddd;
}

/* Widgets */
.wideget.spacer{
	box-shadow: none;
}
.widget {
    background-color: white;
    border: none;
    box-shadow: 0 3px 12px 0px #e8eafcad, 0 3px 3px -2px #461a7714;
}
.widget .widget-head .widget-title {
    font-size: 14px;
    color: #5170dd !important;
}
.widget.shortcut-widget-box .widget-head .widget-title i {
    color: #a5488a;
}	


.widget.links-widget-box .widget-head .widget-label .widget-title {
    font-size: var(--text-lg);
    font-weight: var(--weight-semibold);
    letter-spacing: .015em;
    color: #5170dd !important;
}


.container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 100%;
}


.desk-sidebar-item,
.standard-sidebar-item {
    width: 300px; 
    padding: 15px 25px;
    margin: 5px 10px;
    color: #343a40;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.3s;
}

/* Hover effect */
.desk-sidebar-item:hover,
.standard-sidebar-item:hover {
    background-color: #e2e6ea;
    transform: scale(1.05);
}

/* Selected item style */
.desk-sidebar-item.selected,
.standard-sidebar-item.selected {
    background-color: #007bff;
    color: red;
    box-shadow: 0 0 10px #b0c9eb;
}


/* Dropdowns */
.dropdown-menu>li>a {
    font-size: 13px;
	color:#666;
	font-weight: 500;
}

/* Page Heading */
.page-head {
    border-bottom: none !important;
    box-shadow: 0 1px 10px 1px rgba(115, 108, 203, 0.1);
}
.page-title .title-text {
	color: #5828a1;
	font-size: 22px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #5828a1;
}

/*Main Section */
.layout-main-section {
    border: 1px solid #e4e4e4;
    background-color: white;
}
.list-row-head {
    background-color: #f3f6f9;
    border-bottom: 1px solid #e4e4e4 !important;
}

/* Buttons */
.btn-primary {
    background-color: #8d2a71;
    border-color: #8d2a71;
}
.control-label, .grid-heading-row {
    font-size:13px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #6a1552;
    border-color:#6a1552;
}
.indicator-right.blue:after, .indicator.blue:before {
    background: #ac3c8d;
}

/*Other Components*/
input[type=checkbox]:checked:before {
    color: #ae3c8e;
}